body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eae5d4;
}
.header{
    display: flex;
    top: 0;
    position: sticky;
    background-color:white;
    box-shadow: 1px 2px 12px rgb(59, 58, 58);
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    z-index: 500;
    flex: 1;
    opacity: 0.8;
}
.icono{
    max-width: 50px;
    margin-left: 59%;
    opacity: 0.7;
}
.menu{
    padding-left: 45px;
    display: flex;
    gap: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size: 1.2rem;
    opacity: none;
}
.logo-texto {
    display: flex;
    align-items: center; 
    padding-right: 10%;
    gap: 4px;
    opacity: none;
}
#texhotel{
    white-space: nowrap;     /* Evita que el texto haga salto de línea */
    font-weight: 400;
    font-size: 1.05rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.menu a {
        text-decoration: none;
        color: black;
        padding: 20px;
        background-color: transparent;
        border-radius: 15px;
        transition: font-weight 0.5s, background-color 0.5s;
}
.menu a:hover{
    font-weight: 600;
    background-color:#cbac69;
    border-radius: 15px;
}
.bg{
    position: relative;
    display: inline-block;
}
.bg img{
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 9px;
    filter:blur(4px);
}
.bg h2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 60px;
    opacity: 0;
    animation: fade 3s ease-in-out forwards;
    line-height: 1.2;
    text-shadow: 1px 1px 1px black;
}
.bg h2 .line1 {
    font-size: 60px;
}

.bg h2 .line2 {
    font-size: 30px;  /* Ajusta el tamaño de la segunda línea si es necesario */
}
.bg h2 .line3{
    font-size: 30px;
    animation: fadeInOut 3s ease-in-out infinite;
    color: #7f1e47;
    font-weight: 800;
    text-decoration-line: underline;    
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
.textomain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 6%;
    border: 2px groove black;
    border-radius: 15px;
    box-shadow: 0 3px 9px;
    opacity: 0.85;
    padding: 20px;
    background: linear-gradient(180deg, #cbac69, #f1d084);
}
.textomain h4{
    text-align: center;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5rem; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.textomain p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
    padding-bottom: 25px;
}
.textdestinos{
    display: flex;
    justify-content: flex-start;
    margin-left: 5.5%;
    margin-top: 35px;
}
.textdestinos h2{
    font-family:"Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight:500;
}
.destinosmain{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
    overflow: hidden;
    justify-content: space-between;
    margin: 5%; 
    margin-top:15px;
    margin-bottom:15px ;
}
.destinosmain a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    align-items: center;
}
.destinosmain img{
    object-fit: cover;        /* Asegura que la imagen se ajuste sin distorsionarse */
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;
    margin-bottom: 15px;
}
.destinosmain img:hover{
    transform: scale(1.1);
}
.destinosmain p{
    text-align: center;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size:0.52cm;
}
#contCarrousel{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 500px;
    margin-bottom: 20px;
}
.textCarrousel{
    background-color:#d0e0eb;
    opacity: 0.8;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
}
.textCarrousel h2{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 500;
}
#carrousel{
    position: relative;
    width: 100%;
}
#carrousel img{
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 1px 7px 1.5px darkcyan;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    position: relative;
    z-index: -1;
    opacity: 0;
    transform: scale(1.1);

}
#carrousel img.active {
    opacity: 1;
    transform: scale(1); /* Se acerca a su tamaño original */
}
#carrousel::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;  /* Para que coincida con la imagen */
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.7), transparent);
    transition: opacity 1s ease-in-out;  /* Transición suave de la opacidad */
    opacity: 1;  /* La máscara está visible inicialmente */
    z-index: 2;  /* Para que la máscara esté sobre la imagen */
}
#carrousel:hover::before {
    opacity: 0; /* Al hacer hover, la máscara desaparece lentamente */
}
.atras, .adelante{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 10;  
}
.adelante{
    right: 10px;
}
.atras{
    left: 10px;
} 

      /* DESTINOS */

#cuerpoPagina{
    display: block;
    margin: 8px;
    font-family: "Roboto";
    margin-left: 10px;
    margin-right: 10px;
}
.Todo {
    border-radius: 15px;
    transition: box-shadow 1s ease, transform 1s ease;
}

.Todo:hover {
    box-shadow: 5px 5px 15px black;
    border-radius: 15px;
    transform: translateY(-2px);            
    transition: box-shadow 1s ease, transform 1s ease;
}

.region {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & h1 {
        margin-top: 50px;
        margin-bottom: -15px;
    }

    & h3 {
        margin-bottom: 5px;
        color: rgb(136, 135, 135);
    }
}

.Departamentos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;

}

.parte1 {
    width: 30%;

    & img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.parte2 {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 6px solid white;
    background: linear-gradient(180deg, #cbac69, #f1d084);
    width: 60%;
    background-color: #cbac69;

    & .parte2_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-bottom: -5px;

        & div {
            display: flex;
            align-items: center;
            & h2{
                font-family: "Plus Jakarta Sans", sans-serif;
                font-size: 25px;
            }
            & p{
                font-size: 17px;
            }
            & img {
                margin-top: -8px;
            }

            & .clasificacion {
                margin-right: 40px;
                font-size: 25px;
                font-weight: 700;
                color: rgb(0, 0, 0);
            }
        }
    }

    & .parte2_2 {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;

        & #servicios {
            display: block;
            border: 3px solid rgb(0, 0, 0);
            border-radius: 20px;
            object-fit: cover;
            width: 700px;
            height: 60px;
            padding-top: 3px;
            padding-bottom: 3px;
            background-color: white;
            object-fit: cover;
        }
    }          
}
.Todo:hover .cuadroTexto{          
   max-height: 300px;
   transition: max-height 5s ease;
}
.cuadroTexto{
    max-height: 55px;    
    overflow: hidden;
    & #texto{
        margin-left: 10px;
        text-align: justify;
        font-family: "Roboto";
        margin-right: 10px;
        font-weight: 500;
        font-style: oblique;                 
        max-height: auto;                
    }
} 

.parte3 {
border: 2px solid gray; 
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
width: 12%;
background: linear-gradient(180deg, #cbac69, #f1d084); /* Fondo degradado */
}

.parte3 div {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.parte3 h3 {
    font-family: 'Times New Roman', Times, serif;    
    font-size: 25px; 
    color: #333;
    font-style: oblique;
    font-weight: 800; 
}

.parte3 h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5em; 
    color: #ffffff; 
    font-weight: bold; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra de texto para hacer el precio más llamativo */
}

.parte3:hover h2 {
    font-size: 2.7em;
    
}

.tituloRegion {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 50px;
}

#primeraRegion {
    margin-top: -20px;
}

#destino1 {
    position: absolute;
    z-index: 100;
    top: 0;
}

#destino2 {
    position: absolute;
    z-index: 101;
    top: 480px;
}

#destino3 {
   position: absolute;
    z-index: 102;
    top: 950px;   
}

/*-------- CONTACTO -------*/
#maincontacto{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.row{
    text-align: center;
    margin-bottom: 10px;
}
.row h2,#info{
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 35px;
    color: #007BFF;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

.row h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #007BFF;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
    animation: underline 2s ease-in-out forwards;
}

@keyframes underline {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
#debajoFormulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#info{
    display: flex;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #007BFF;
    width: auto; 

}

.contacto-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas, una para la imagen y otra para el formulario */
    gap: 10%; /* Espacio entre las columnas */
    align-items: start;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}
.contactoimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactoimg img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
.formulariocontacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}
.formulariocontacto input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Roboto";
    font-weight: 500;
}
.formulariocontacto textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    height: 100px;
    font-family: "Roboto";
    font-weight: 500;
}
.formulariocontacto button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: 400;
    transition: all 0.5s;
    margin-top: 5px;
}
button:hover{
    background-color: white;
    color: #007BFF;
    border: 1px solid #007BFF;
}
.formularioItem{
    border-radius: 8px;
    border-style: solid;
    transition: all 0.2s ease-in;
}
.formularioItem:focus{
    outline: none;
    box-shadow: 0px 1px 8px black;
    transform: scale(1.015);
}
.error{
    text-align: left;
    font-weight: 700;
    height: auto;   
    margin-top: -6px;
    color: red;
    font-size: 17px;     
}
#infoCliente{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 40px;
}


/* FOOTER */

.footer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    border-top: 2px white;
    justify-content: space-between;
    font-family: "Roboto";
    margin-top: 50px;
}
.hotelfooter{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items:start;
    margin-left: 15%;
}
.hotelfooter li{
    list-style-type: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.hotelfooter a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
}
.politicas{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.politicas li{
    list-style-type: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: white;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.politicas a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}
.redes{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items:start;
}
.redes li{
    list-style-type: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.redes a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}
.redes a img{
    vertical-align:middle;
    margin: 5px;
}
.apps{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items:center;
    margin-right: 15%;
}
.apps li{
    list-style-type: none;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer a{
    border-radius: 10px;
    transition: all 0.5s;
    margin: 5px;
}
.footer a:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
    opacity: 0.9;
}
.apps a{
    margin: 20px;
    display: flex;
}
.apps a:hover{
    transform: scale(1.1);
    background-color: transparent;
}




